$background-dark: #F0F0F0;
$background: #FFFFFF;
$foreground: #555555;
$foreground-light: #A0A0A0;

$red: #F04444;
$blue: #11C2E9;

:root {
  color: $foreground;
  background-color: $background-dark;
  font-family: "IBM Plex Sans";
  font-size: 20px;
}

body, html {
  padding: 0;
  margin: 0;
  
  height: 100%;
}

#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

a {
  text-decoration: none;
  color: $foreground;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 4rem;
  
  img {
    width: 17.5rem;
    margin: -0.5rem 0rem;
  }
  
  box-shadow: 1px 1px #CCCCCC;
  background-color: $background;
}

main {
  margin: 0 auto;
  width: 60%;
  
  background-color: white;
  box-shadow: 2px 2px #CCCCCC;
  border-radius: 1rem;
  padding: 1rem;
  
  text-align: center;
}

.result-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.result-container > div {
  width: 50%;
}

@keyframes fadein {
  from { 
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}

.result-text {
  animation: 4s fadein 2s forwards;
  opacity: 0;
}

.heart-container {
  margin: 2rem auto;
  animation: fadein 2s;
}

.heart-container > * {
  margin: 0;
}

.heart {
  height: 15rem;
}

.chance {
  color: white;
  position: relative;
  bottom: 10rem;
  margin: 0;
}

.plus-sign {
  margin: auto 0;
}

input {
  font-size: 1rem;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 1rem auto;
}

.input-container input[type=text] {
  width: clamp(10rem, 40%, 15rem);
  flex-grow: 0;
}

input[type=text] {
  background-color: white;
  color: $foreground;

  font-size: 1.2rem;
  border: 0.5px solid gray;
  box-shadow: 1px 1px 1px gray;
  border-radius: 1rem;
  outline: none;

  padding: 0.6rem;
  margin: 0.5rem;
}

button, input[type=submit] {
  background-color: $blue;
  color: white;
  border: none;
  
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  
  font-size: 1.25rem; 
  font-weight: 500;
  
  margin: 1rem;
}

footer {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  
  background-color: $background;
}

.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  :root {
    font-size: 18px;
  }
  
  main {
    width: 80%;
  }
  
  .input-container {
    flex-direction: column;
    align-items: center;
  }
  
  .input-container input[type=text] {
    width: clamp(0px, 90%, 20rem);
  }
}

