<head>
  <meta charset="utf-8">

  {{ $style := resources.Get "css/style.scss" | resources.ToCSS }} 
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">

  {{ $manifest := resources.Get "manifest.json" }}
  {{ $manifest = $manifest | resources.ExecuteAsTemplate $manifest . }}
  <link rel="manifest" href="{{ $manifest.RelPermalink }}">

  {{ $icon := resources.Get "/icons/apple-icon-180.png" }}
  <link rel="apple-touch-icon" href="{{ $icon.RelPermalink }}">


  {{ $favicon := resources.Get "/images/favicon.ico" }}
  <link rel="icon" type="image/x-icon" href="{{ $favicon.RelPermalink }}">

  {{ $title := print .Site.Title " | " .Title }} 
  {{ if .IsHome }}{{ $title = .Site.Title}}{{ end }}
  <title>{{ $title }}</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#FFFFFF">
  <meta name="description" content="{{ .Description }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap" rel="stylesheet">
</head>
